@model IEnumerable<BibliotecaDigital.Models.Livro>

@{
    ViewData["Title"] = "Lista de Livros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Livros</h1>

<p>
    <a asp-action="Create">Inserir Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Editora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Editora.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Endereco)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
